@import 'tailwindcss';
/* Supports weights 100-900 */
@import '@fontsource-variable/montserrat';
@import "./select-options.css";
@import "./buttons.css";

@theme {
  --color-border-select: #4949492b;
  --shadow-inputs: 0 4px 15px #ffffff20;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
}

.principal-title {
  font-size: clamp(2.5rem, 5vw + 1rem, 4.5rem);
}
.paragraph-text {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
  color: var(--color-gray-300);
}

